
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

.container{
    padding-top: 140px;
    padding-bottom: 165px;
    max-width: 600px;
    width: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* margin: center; */
    margin-top: 160px;
    margin-bottom: 50px;
}

@media (max-width: 600px){
    .container{
        padding-top: 170px;
        padding-bottom: 195px;
        max-width: 380px;
        width: auto;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 20px;
        margin-top: 155px;
        margin-bottom: 45px;
    }
}

.container .forms{
    display: flex;
    align-items: center;
    height: 30px;
    width: 200%;
    transition: height 0.2s ease;
}

.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

footer{
    background-color: #9ECDCA;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text_footer{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.uu {
    margin:0;
    padding:0;
    height:100%;
}

.container .form .title{
    position: relative;
    font-size: 28px;
    font-weight: 600;
    color: #9ECDCA;
    padding-bottom: 26px;
}

.form .button{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 40px;
}

.form .button input{
    height: 120%;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6px;
    background-color: #9ECDCA;
}

.button input:hover{
    background-color: #41c6bd;
}

.fontsize{
    padding-bottom: 25px;
}

@media (max-width: 600px){
    .fontsize{
        font-size: 18px;
        padding-bottom: 20px;
    }
}
