
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

h3{
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.container{
    padding-top: 130px;
    padding-bottom: 25px;
    position: relative;
}

.about_text{
    padding-top: 150px;
    padding-right: 50px;
    padding-left: 20px;
}

@media (max-width: 600px){
    .about_text{
        padding-top: 50px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

.card-title{
    font-weight: bold;
    text-align: center;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    background-color: #9ECDCA;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text_footer{
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
