
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

h3{
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h6{
    margin-top: 10px;
    font-size: 25px;
}

.container{
    padding-top: 110px;
    padding-bottom: 70px;
    position: relative;
}

.logo2{
    width: 400px;
    height: 400px;
    border-radius: 20px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

@media (max-width: 600px){
    .logo2{
        width: 330px;
        height: 330px;
        border-radius: 20px !important;
        margin-left: 10px;
    }
}

.about_text{
    padding-top: 110px;
    padding-right: 120px;
}

@media (max-width: 600px){
    .about_text{
        padding-top: 50px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

.card-title{
    font-weight: bold;
    text-align: center;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    background-color: #9ECDCA;
    position: relative;
    bottom: 0;
    width: 100%;
}

.text_footer{
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
