
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

h3{
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 45px;
}

.about_text{
    padding-top: 150px;
    padding-right: 50px;
    padding-left: 20px;
}

@media (max-width: 600px){
    .about_text{
        padding-top: 50px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

.card-title{
    font-weight: bold;
    text-align: center;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html, body{
    height: 100%;
}

footer{
    background-color: #9ECDCA;
    position: relative;
    margin-top: 40px;
}

.text_footer{
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.people{
    width: 100px;
    padding-bottom: 10px;
}

@media (max-width: 600px){
    .people{
        width: 80px;
        padding-bottom: 10px;
    }
}

.report{
    padding: 15px;
    margin-top: 150px;
    background-color: #b5eae6;
    border-radius: 10px;
}

.wound{
    border-radius: 5px;
    height: 200px;
    width: 300px;
}

.report .badge{
    font-size: 25px;
    background-color: #309D98;
    margin-top: 50px;
    margin-bottom: 30px;
}

.report .text-center{
    margin-top: 10px;
}

.fuck{
    background-color: #b5eae6;
    width: 430px;
}

@media (max-width: 600px){
    .fuck{
        background-color: #b5eae6;
        width: 300px;
    }
}

.damn{
    background-color: #b5eae6;
    width: 570px;
    text-align: left;
}

@media (max-width: 600px){
    .damn{
        text-align: center;
        background-color: #b5eae6;
        width: 300px;
    }
}
